	<table>
				<tr><td>name</td><td><%= u.text_field(:name)%></td></tr>
				<tr><td>password</td><td><%= u.password_field(:password)%></td></tr>
				<tr><td>sex</td><td><%= u.select(:sex,{"男" => 1, "女" => 2})%></td></tr>
				<tr><td>birthday</td><td><%= u.datetime_select(:birthday)%></td></tr>
				<!--<tr><td>test</td><td><%= u.select(:e,1..5)%></td></tr>
				<tr><td>test</td><td><%= u.select(:e,['text','html'])%></td></tr>-->
		</table>
